
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Özkan Market - Supermarket Alışveriş">
    <meta name="author" content="Zülal Karadepe">
    <title>Home | Özkan Market</title>
    <link href="~/Style/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Style/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Style/css/main.css" rel="stylesheet">
    <link href="~/Style/css/responsive.css" rel="stylesheet">

</head>

<body>
    <header id="header">

        <div class="header_top">

            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> +90 539 917 8801</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="https://www.instagram.com/market.ozkan/"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-middle">

            <div class="container">
                <div class="row">
                    <div class="col-md-4 clearfix">
                        <div class="logo pull-left">
                            <a href="/Home/Index"><img src="~/Content/Image/a_logo.jpg" width="150" height="80" alt="" /></a>
                        </div>

                    </div>
                    <div class="col-md-8 clearfix">
                        <div class="shop-menu clearfix pull-right">
                            <ul class="nav navbar-nav">

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a href="/User/Update"><i class="fa fa-user"></i> @Session["Ad"] @Session["Soyad"]</a></li>


                                    <li><a href="/Account/LogOut"><i class="fa fa-lock"></i> Çıkış Yap</a></li>
                                }
                                else
                                {
                                    <li><a href="/Account/Login"><i class="fa fa-lock"></i> Giriş Yap</a></li>
                                }


                                @if (User.IsInRole("Admin"))
                                {
                                    <li><a href="/Admin/Index"><i class="fa fa-lock"></i> Admin Paneli</a></li>
                                }


                                <li><a href="/Home/Index"> Anasayfa</a></li>

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a href="/Cart/Index"><img src="~/Content/Image/cart.jpg" width="25" height="25" /><label style="color:red">@{Html.RenderAction("TotalCount", "Cart");}</label> Sepetim</a></li>
                                    <li><a href="/Sales/Index"><i class="fa fa-dollar"></i> Siparişlerim</a></li>
                                }


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="companyinfo">
                            <h2><span>Özkan</span> Market</h2>

                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="col-sm-5">
                            <div class="video-gallery text-center">
                                <p>Design by Zülal Karadepe - 2024</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Tüm Hakları Sakldır.</p>
                </div>
            </div>
        </div>

    </footer>
    <script src="~/Style/js/jquery.js"></script>
    <script src="~/Style/js/bootstrap.min.js"></script>
    <script src="~/Style/js/jquery.scrollUp.min.js"></script>
    <script src="~/Style/js/main.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
</body>
</html>