@model List<EntityLayer.Entities.Category>
@{
    ViewBag.Title = "Index";
}

<a class="btn btn-primary" href="/AdminCategory/Create">Kategori Ekle</a>
<br />
<br />
<table class="table table-bordered id=table">
    <tr>
        <th>Ad</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@Html.ActionLink("Sil","Delete", new {item.Id}, new {@class = "btn btn-danger", onclick = "return confirm ('Silmek istiyor musunuz?')"})</td>
            <td><a class="btn btn-primary" href="/AdminCategory/Update/@item.Id">Güncelle</a></td>
        </tr>
    }



</table>

<script src="~/Scripts/jquery-3.7.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>

<script type="text/javascript">
    $(function () {
        $(".btnSil").on("click", function () {
            var btn = $(this);
            var id = btn.data("id");

            bootbox.confirm({
                message: "Silmek istediğinize emin misiniz?",
                buttons: {
                    confirm: {
                        label: 'Evet',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: 'Hayır',
                        className: 'btn-secondary'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            type: "GET",
                            url: "/AdminCategory/Delete/" + id,
                            success: function () {
                                btn.closest("tr").remove();
                                bootbox.alert("Başarıyla silindi.");
                            },
                            error: function () {
                                bootbox.alert("Silme işlemi sırasında bir hata oluştu.");
                            }
                        });
                    } else {
                        bootbox.alert("İşlem iptal edildi.");
                    }
                }
            });
        });
    });
</script>


